# Auto detect text files and perform LF normalization
* text=auto
<html>
<head>
<script>
function go1()
{
	a=document.getElementById("i1").value;
	v=0;
	b=a.length;
	a=a.split("");
	for(i=0; i<b; i++)
	{
		if(/[аЛМВы]/i.test(a[i]))
			{
				v++;
			}
	}
		if(v==0){
			alert("ошибка");
		}
		else{
			alert("верно");
		}
	
	
}
</script>
</head>
<body>
<input type="text" id="i1">
<input type="button" value="GO" onclick="go1()">
</body>
</html>